<div layout="row" layout-margin layout-fill layout-padding>
    <div flex="70"><a href="{{ comment.discussion.webUrl }}">{{ content.sectionName }}: {{ content.webTitle }} by {{ content.fields.byline }}</a></div>
    <div flex><md-chips>
        <md-chip ng-hide="comment.discussion.isClosedForComments">Open</md-chip>
        <md-chip ng-hide="comment.discussion.isClosedForRecommendation">Recommends</md-chip>
        <md-chip>Watched?</md-chip>
    </md-chips></div>
</div>
<div layout="row" layout-margin layout-fill layout-padding>
    <div flex="70">
        <div layout="row">
            <div><img ng-src="{{ comment.userProfile.avatar }}" alt="{{ comment.userProfile.userId }}"></div>
            <div><b>{{ comment.userProfile.displayName }}</b></div>
            <div>{{ request }}</div>
        </div>
    </div>
    <div flex>sanction count, ip address</div>
</div>
<div layout="row" layout-margin layout-fill layout-padding>
    <div flex="70">
        <div layout="column">
            <div flex>
                <md-chips>
                <md-chip>Trolling</md-chip><md-chip>Off topic</md-chip><md-chip>Spam</md-chip><md-chip>Hate speech</md-chip><md-chip>Copyright Legal</md-chip><md-chip>Personal abuse 1</md-chip><md-chip>Offensive</md-chip><md-chip>Other</md-chip>
                </md-chips>
            </div>
            <div flex>{{ comment.isoDateTime }}</div>
            <div flex><p class="comment-body" ng-bind-html="comment.body"></p></div>
            <div flex>0 replies</div>
        </div>
    </div>
    <div flex>report info</div>
</div>

<div class="bottom-sheet-demo inset" layout="column" layout-sm="row" layout-align="center">
</div>