<md-bottom-sheet class="md-grid">
    <md-list layout-align="center">
        <md-list-item>
            <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                <md-icon md-svg-icon="approve" style="fill:green"></md-icon>
                <div class="md-grid-text"> Approve </div>
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                <md-icon md-svg-icon="pick"></md-icon>
                <div class="md-grid-text"> Pick </div>
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                <md-icon md-svg-icon="block"></md-icon>
                <div class="md-grid-text"> Block </div>
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                <md-icon md-svg-icon="remove"></md-icon>
                <div class="md-grid-text"> Remove </div>
            </md-button>
        </md-list-item>
    </md-list>
</md-bottom-sheet>