<!DOCTYPE html>
<html lang="en" ng-app="modtools">
    <head>
        <title>Moderation</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("img/favicon.png")">
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
        <link rel="stylesheet" href="@routes.Assets.versioned("vendor/angular-material-0.10.0/angular-material.min.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("css/app.css")"/>
    </head>

    <body layout="column" ng-controller="SidenavController">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings">
                    <md-icon md-svg-icon="menu" ng-click="menu()"></md-icon>
                </md-button>
                <h2>
                    <span>Moderation Tools</span>
                </h2>
                <span flex=""></span>
                <md-menu>
                    <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
                        <md-icon md-svg-icon="more_vert"></md-icon>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="logout($event)">
                                <md-icon md-svg-icon="thumbs_up_down" md-menu-align-target></md-icon>
                                Your Actions
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="logout($event)">
                                <md-icon md-svg-icon="mail" md-menu-align-target></md-icon>
                                Help & feedback
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="logout($event)">
                                <md-icon md-svg-icon="info" md-menu-align-target></md-icon>
                                About
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="logout($event)">
                                <md-icon md-svg-icon="settings" md-menu-align-target></md-icon>
                                Settings
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="logout($event)">
                                <md-icon md-svg-icon="exit_to_app" md-menu-align-target></md-icon>
                                Sign out
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>

        <md-sidenav class="md-sidenav-left" md-component-id="left">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" aria-label="Settings">
                        <md-icon md-svg-icon="menu" ng-click="menu()"></md-icon>
                    </md-button>
                    <h2>
                        <span>Moderation Tools</span>
                    </h2>
                </div>
            </md-toolbar>

            <md-content layout-padding>
                <md-list>
                    <md-subheader>Queues</md-subheader>
                    <md-list-item ng-click="goto('central',$event)">
                        <md-icon md-svg-icon="queue"></md-icon><p>Central</p>
                    </md-list-item>
                    <md-list-item ng-click="goto('central_watched',$event)">
                        <md-icon md-svg-icon="queue"></md-icon><p>Central (watched)</p>
                    </md-list-item>
                    <md-list-item ng-click="goto('cif',$event)">
                        <md-icon md-svg-icon="queue"></md-icon><p>Comment is Free</p>
                    </md-list-item>
                    <md-list-item ng-click="goto('cif_watched',$event)">
                        <md-icon md-svg-icon="queue"></md-icon><p>CiF (watched)</p>
                    </md-list-item>
                    <md-list-item ng-click="goto('all',$event)">
                        <md-icon md-svg-icon="queue"></md-icon><p>All</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ng-click="goto('witness',$event)">
                        <md-icon md-svg-icon="image"></md-icon><p>Witness</p>
                    </md-list-item>
                    <md-list-item ng-click="goto('',$event)">
                        <md-icon md-svg-icon="face"></md-icon><p>Avatars</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-subheader>Other</md-subheader>
                    <md-list-item ng-click="goto('',$event)">
                        <md-icon md-svg-icon="comment"></md-icon><p>Discussions</p>
                    </md-list-item>
                    <md-list-item ng-click="goto('',$event)">
                        <md-icon md-svg-icon="people"></md-icon><p>Users</p>
                    </md-list-item>

                </md-list>
            </md-content>
        </md-sidenav>

        <div ng-view></div>

        <script src="@routes.Assets.versioned("vendor/jquery-2.1.4/jquery.min.js")"></script>

        <script src="@routes.Assets.versioned("vendor/angular-1.4.1/angular.min.js")"></script>
        <script src="@routes.Assets.versioned("vendor/angular-1.4.1/angular-aria.min.js")"></script>
        <script src="@routes.Assets.versioned("vendor/angular-1.4.1/angular-animate.min.js")"></script>
        <script src="@routes.Assets.versioned("vendor/angular-1.4.1/angular-cookies.min.js")"></script>
        <script src="@routes.Assets.versioned("vendor/angular-1.4.1/angular-loader.min.js")"></script>
        <script src="@routes.Assets.versioned("vendor/angular-1.4.1/angular-message-format.min.js")"></script>
        <script src="@routes.Assets.versioned("vendor/angular-1.4.1/angular-messages.min.js")"></script>
        <script src="@routes.Assets.versioned("vendor/angular-1.4.1/angular-resource.min.js")"></script>
        <script src="@routes.Assets.versioned("vendor/angular-1.4.1/angular-route.min.js")"></script>
        <script src="@routes.Assets.versioned("vendor/angular-1.4.1/angular-sanitize.min.js")"></script>

        <script src="@routes.Assets.versioned("vendor/angular-material-0.10.0/angular-material.min.js")"></script>

        <script src="@routes.Assets.versioned("config.js")"></script>  <!-- configuration options -->

        <script src="@routes.Assets.versioned("js/app.js")"></script>
        <script src="@routes.Assets.versioned("js/services.js")"></script>
        <script src="@routes.Assets.versioned("js/controllers.js")"></script>
        <script src="@routes.Assets.versioned("js/filters.js")"></script>
        <script src="@routes.Assets.versioned("js/directives.js")"></script>

    </body>
</html>
